.contact-form {
width: 100%;
max-width: 500px;
margin: 0 auto;
padding: 100px;
border-radius: 5px;
}
.contact-form label {
display: block;
margin-bottom: 10px;
}
.contact-form input[type="text"],
.contact-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}
.contact-form textarea {
height: 100px;
}
.contact-form input[type="submit"] {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}
.contact-form input[type="submit"]:hover {
background-color: #45a049;
}

.navbar {
    background-color: black;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav {
    margin-left: auto; 
}

.nav-item {
    margin-right: 15px; 
}

.nav-link {
    color: #fff !important; 
    transition: background-color 0.3s; 
}

.nav-link:hover,
.nav-link.active {
    background-color: #ffc107; 
    color: #343a40 !important; 
}

