.container-xxl {
text-align: center;

}
.div img {
border-radius: 10pxs;

}
body {
background-image: url(Images/creative-italian-food-concept-with-space-middle.jpg);
background-color: rgb(252, 244, 244);
background-position: bottom;
background-repeat: no-repeat;
}

