.container-xxl {
text-align: center;

}
.div img {
border-radius: 10pxs;

}
body {
background-image: url(Images/creative-italian-food-concept-with-space-middle.jpg);
background-color: rgb(252, 244, 244);
background-position: bottom;
background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(52, 58, 64, 0.7);
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav {
    margin-left: auto; 
}

.nav-item {
    margin-right: 15px; 
}

.nav-link {
    color: #fff !important; 
    transition: background-color 0.3s; 
}

.nav-link:hover,
.nav-link.active {
    background-color: #ffc107; 
    color: #343a40 !important; 
}