body {
background-image: url(Images/vecteezy_ai-generated-valentine-food-dishes-fork-knife-and-rose_37236403.jpg);
opacity: 0.9;
background-size: 100%;

}
h6 {
text-align: center;

}
.container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}
.column {
float: left;
width: 50%; 
padding: 10px;
box-sizing: border-box;
}
.column img {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}



.form {
border-radius: 10px;
}

.navbar {
    background-color: rgba(52, 58, 64, 0.7);
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav {
    margin-left: auto; 
}

.nav-item {
    margin-right: 15px; 
}

.nav-link {
    color: #fff !important; 
    transition: background-color 0.3s; 
}

.nav-link:hover,
.nav-link.active {
    background-color: #ffc107; 
    color: #343a40 !important; 
}